node_modules/
typechain/
deployments/localhost
deployments/*/solcInputs/
artifacts/
cache
coverage.json
coverage

.env
.DS_Store

.vscode
.env
deployments/localhost
deployments/*/solcInputs/
artifacts/
cache
typechain
deployments
scripts
data
test
deploy
lib

hardhat.config.*
*.lock
